/* CONSTANTS */
button,
input {
  font-family: "GothamProLight";
}
@-webkit-keyframes aniline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes aniline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.aniline {
  -webkit-animation-name: aniline;
  animation-name: aniline;
}
.modal-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 9000px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 11;
  display: none;
}
.modal-wrapper {
  position: fixed;
  height: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 12;
}
.modal-close {
  position: absolute;
  height: 40px;
  width: 40px;
  background: url(../img/modal-close.png) center center no-repeat;
  background-size: cover;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.modal .modal-close,
.modal-calc .modal-close {
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
}
.opacity-one {
  opacity: 1;
}
.modal {
  display: block;
  margin: 150px auto;
  height: auto;
  min-height: 200px;
  max-width: 700px;
  width: 90%;
  background: #fff;
  color: #3b3b3b;
  text-align: center;
  z-index: 4;
  padding-top: 20px;
  padding-bottom: 2px;
  display: none;
  position: relative;
}
.btns-row {
  float: left;
  width: 100%;
  margin-top: 25px;
}
.modal input {
  display: inline-block;
  width: 140px;
  padding: 10px 25px;
  margin-right: 20px;
  margin-left: 20px;
  height: 12px;
  outline: none;
  border: none;
  border: 1px solid #5d4063;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: .2s linear;
  transition: .2s linear;
  font-size: 12px;
  font-family: "GothamProRegular";
}
.send-btn {
  display: inline-block;
}
.modal-title {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  font-family: "GothamProMedium";
  color: #212573;
}
.thx {
  display: block;
  margin: 150px auto;
  height: auto;
  width: 350px;
  background: #fff;
  color: #212573;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  outline: none;
  border: none;
  border: 1px solid #5d4063;
  font-size: 17px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  z-index: 13;
  display: none;
}
.wrap {
  display: block;
  width: 85%;
  max-width: 1400px;
  margin: auto;
}
.header {
  float: left;
  box-sizing: border-box;
  padding: 80px 0 130px;
  width: 100%;
  height: auto;
  background: url(../img/header-back.png) center center no-repeat;
  background-size: cover;
}
.header__telephone {
  text-align: right;
  font-size: 12px;
  color: #fff;
}
.header__block {
  float: left;
  width: 100%;
  margin-top: 90px;
  position: relative;
}
.header__block h1 {
  width: 42%;
  font-weight: normal;
  font-family: "GothamProBold";
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}
.header__block p {
  width: 42%;
  margin-top: 15px;
  font-weight: normal;
  font-family: "GothamProLight";
  font-size: 14px;
  color: #fff;
}
.header__block__img {
  width: 52%;
  position: absolute;
  top: 0;
  right: 0;
}
.header__block__img img {
  width: 100%;
  height: auto;
}
.navigation {
  float: left;
  width: 100%;
  height: 80px;
}
.nav-logo {
  float: left;
  width: 175px;
  height: 80px;
  background: url(../img/logo.png);
  background-size: cover;
}
.navigation-left {
  float: right;
  width: auto;
}
.navigation-mobile {
  float: left;
  width: 100%;
  height: 40px;
  background: #212573;
  display: none;
}
.burger {
  float: left;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}
.burger-1,
.burger-2,
.burger-3 {
  position: absolute;
  height: 3px;
  left: 10%;
  width: 80%;
  background: #fff;
  -webkit-transition: 1s cubic-bezier(0.32, 0.77, 0.67, 0.4);
  transition: 1s cubic-bezier(0.32, 0.77, 0.67, 0.4);
}
.burger-1 {
  top: 10px;
}
.burger-2 {
  top: 19px;
}
.burger-3 {
  top: 28px;
}
.nav-active .burger-1 {
  top: 19px;
  transform: rotate(-45deg);
}
.nav-active .burger-2 {
  top: -50px;
  left: -30px;
}
.nav-active .burger-3 {
  top: 19px;
  transform: rotate(45deg);
}
.mob-logo-wrap {
  float: left;
  width: calc(100% - 150px);
  text-align: center;
}
.mob-logo {
  display: inline-block;
  height: 40px;
}
.mob-logo img {
  height: 30px;
  width: auto;
  margin: 5px 0 5px 40px;
}
.mob-tel {
  float: right;
  width: auto;
  color: #fff;
}
.mob-tel-1 {
  margin-top: 3px;
  width: 100%;
  text-align: right;
  font-size: 10px;
}
.mob-tel-2 {
  width: 100%;
  text-align: right;
  font-size: 12px;
}
.nav {
  display: inline-block;
  width: auto;
  margin-left: 10px;
  font-size: 12px;
  font-family: "GothamProLight";
  color: #fff;
  line-height: 80px;
}
.nav:hover {
  text-decoration: underline;
}
/* SERVICES SECTION */
.our-services {
  float: left;
  width: 100%;
  margin-top: 270px;
}
.services-title {
  float: left;
  width: auto;
  height: 500px;
  display: table;
}
.services-title__box {
  display: table-cell;
  vertical-align: middle;
  height: auto;
}
.services-title__box__row {
  color: #212573;
  font-size: 24px;
  text-shadow: 15px -15px 1px #e8e9f1;
}
.services-title__box__row_light {
  font-family: "GothamProLight";
}
.service-blocks {
  float: right;
  width: 800px;
  height: 500px;
}
.service-block {
  float: left;
  width: 400px;
  height: 250px;
}
.service-block-back {
  width: 100%;
  height: 100%;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  background: rgba(64, 156, 163, 0);
  text-align: center;
}
.service-block:hover .service-block-back {
  background: rgba(64, 156, 163, 0.8);
}
.service-block img {
  float: none;
  height: 20px;
  width: auto;
  margin: 85px 0 5px;
  display: inline-block;
}
.service-block p {
  height: auto;
  width: 250px;
  margin: auto;
  font-size: 13px;
  font-family: "GothamProLight";
  color: #fff;
}
.sb-1 {
  background: url(../img/main1.png) center center no-repeat;
  background-size: cover;
}
.sb-2 {
  background: url(../img/main2.png) center center no-repeat;
  background-size: cover;
}
.sb-3 {
  background: url(../img/main3.png) center center no-repeat;
  background-size: cover;
}
.sb-4 {
  background: url(../img/main4.png) center center no-repeat;
  background-size: cover;
}
.call-wrap {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 80px;
}
.call-btn {
  display: inline-block;
  margin: auto;
  width: auto;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 8px 30px;
  background: #a7c030;
  color: #fff;
  font-size: 14px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}
.call-btn:hover {
  background: #53BF35;
}
.main-title {
  float: left;
  width: 100%;
  margin-top: 75px;
  color: #212573;
}
.main-title__bold {
  float: left;
  width: 100%;
  text-transform: uppercase;
  font-family: "GothamProMedium";
  font-size: 20px;
  text-shadow: 15px -15px 1px #e8e9f1;
}
.main-title__light {
  float: left;
  width: 100%;
  font-family: "GothamProLight";
  font-size: 17px;
}
.our-work {
  float: left;
  width: 100%;
  margin-top: 80px;
}
.work-box {
  width: 100%;
  height: auto;
  position: relative;
}
.work-box__left {
  float: left;
  width: 50%;
  margin-right: 50%;
}
.work-box__left__line {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #212573;
}
.work-box__left__circle {
  position: absolute;
  top: 0;
  right: -5px;
  width: 11px;
  height: 11px;
  background: #212573;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.work-box__right {
  float: left;
  width: 50%;
  margin-left: 50%;
}
.work-box__right__line {
  position: absolute;
  top: 0;
  left: -1px;
  width: 1px;
  height: 100%;
  background: #212573;
}
.work-box__right__circle {
  position: absolute;
  top: 0;
  left: -6px;
  width: 11px;
  height: 11px;
  background: #212573;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.work-box__wrap {
  box-sizing: border-box;
  padding: 50px 50px 90px;
  position: relative;
}
.work-box__shadow {
  position: absolute;
  color: rgba(222, 236, 192, 0.8);
  z-index: 1;
  top: 35px;
  left: 35px;
  font-size: 26px;
  font-family: "GothamProBold";
  font-weight: bold;
}
.work-box__title {
  width: 100%;
  color: #a7c030;
  font-size: 18px;
  line-height: 30px;
  margin: 5px 0;
  font-family: "GothamProMedium";
  position: relative;
  z-index: 2;
}
.work-box__text {
  width: 100%;
  color: #212573;
  font-size: 13px;
  font-family: "GothamProLight";
}
.main-line {
  float: left;
  width: 11px;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
}
.main-line__circle {
  float: left;
  width: 11px;
  height: 11px;
  background: #212573;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.main-line__circle__1 {
  position: relative;
}
.main-line__line {
  float: left;
  width: 1px;
  margin-left: 5px;
  background: #212573;
}
.main-line__line_100 {
  height: 100px;
}
.main-line__line_150 {
  height: 150px;
}
.main-line__line_200 {
  height: 200px;
}
.main-line__line_250 {
  height: 250px;
}
.footer {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 60px 0 40px;
  margin-top: 70px;
  background: #212573;
}
.foot-logo {
  float: left;
  width: 175px;
  height: 80px;
  background: url(../img/logo.png);
  background-size: cover;
}
.foot-row {
  float: left;
  margin-left: 30px;
  width: calc(100% - 205px);
}
.foot {
  float: left;
  width: auto;
  margin-right: 27px;
  margin-top: 2px;
  font-size: 12px;
  font-family: "GothamProLight";
  color: #fff;
}
.foot:hover {
  text-decoration: underline;
}
.gi-line {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-top: 20px;
  box-sizing: border-box;
  border-top: 1px solid #fff;
  text-align: right;
  height: 50px;
}
.gi-line p {
  display: inline-block;
  margin-right: 5px;
  margin-top: 2px;
  color: #fff;
  line-height: 20px;
  font-size: 10px;
  font-family: "GothamProLight";
  vertical-align: top;
}
.gi-line .gi-logo {
  display: inline-block;
  height: 20px;
  width: auto;
}
.gi-line .gi-logo img {
  display: inline-block;
  height: 20px;
  width: auto;
}
.foot-row-2 {
  float: left;
  margin-top: 20px;
  margin-left: 30px;
  width: calc(100% - 205px);
}
.foot-left {
  float: left;
}
.foot-left input {
  display: inline-block;
  margin-top: 10px;
  outline: none;
  border: none;
  background: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #fff;
  color: #fff;
}
.foot-mobile {
  float: left;
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
  display: none;
}
.btn-foot {
  display: inline-block;
  outline: none;
  border: none;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}
.btn-foot:hover {
  background: #fff;
  color: #000;
}
.foot-right {
  float: right;
}
.leave-call,
.foot-addr {
  margin-top: 3px;
  font-size: 11px;
  color: #fff;
  font-family: "GothamProLight";
}
.foo-ico {
  height: 11px ;
  width: auto;
  margin-right: 5px;
}
.foo-ico img {
  height: inherit;
  width: auto;
}
